{% extends 'admin_home.html' %}
{% block body %}

<body>
<div class="container">
<form id="form1" name="form1" method="post" action="/myapp/add_allocation_post/">
{% csrf_token %}

<input type="hidden" name="c_id" value="{{ cid }}" class="form-control"/>
    <p><b>Elderly Person Name</b>
    <label for="elderly_person"></label>
    <select  name="elderly_person" id="elderly_person" required>
        {% for i in data %}
        <option value="{{ i.id }}">{{ i.name }}</option>
        {% endfor %}
    </select>
  </p><b>Ending Date</b>
<input type="date" name="enddate" id="enddate" required>
  <p> 
      <input type="submit" name="submit" id="submit" value="Submit" class="btn btn-success" />
    <br />
  </p>
  
</form>
 </div>
</body>


{% endblock %}
