{% extends 'admin_home.html' %}
{% block body %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
<style>
  /* Override Bootstrap's default focus border color */
  .form-control:focus {
    border-color: #ffc107; /* Change this to your desired color */
    box-shadow: none; /* Remove the shadow */
  }
</style>
<!-- style="background-color: white;" -->
<body >
  <div class="text-center pb-5"><h3 class="text-danger font-weight-bold"><span><i class="fa-solid fa-hospital-user fa-2xl"></i></span> Add Caregiver</h3></div>
  

<form action="/myapp/add_caregiver_post/" method="post" enctype="multipart/form-data" name="form1" id="form1">
    {% csrf_token %}
  <table class="table table-bordered border">
    <tr>
      <th class="text-dark">Name</th>
      <td><label for="textfield"></label>
      <input type="text" name="textfield" id="textfield" class="form-control" pattern="[A-Z a-z]+" required /></td>
    </tr>
    <tr>
      <th class="text-dark">Place</th>
      <td><label for="textfield2"></label>
      <input type="text" name="textfield2" id="textfield2" class="form-control" required/></td>
    </tr>
    <tr>
      <th class="text-dark">Pin</th>
      <td><label for="textfield3"></label>
      <input type="text" name="textfield3" id="textfield3" class="form-control" pattern="[0-9]{6}" maxlength="6" required/></td>
    </tr>
    <tr>
      <th class="text-dark">Post</th>
      <td><label for="textfield4"></label>
      <input type="text" name="textfield4" id="textfield4" class="form-control" required/></td>
    </tr>
    <tr>
      <th class="text-dark">HouseName</th>
      <td><label for="textfield5"></label>
      <input type="text" name="textfield5" id="textfield5" class="form-control" required/></td>
    </tr>
    <tr>
      <th class="text-dark">Gmail</th>
      <td><label for="textfield6"></label>
      <input type="email" name="textfield6" id="textfield6" class="form-control" required/></td>
    </tr>
    <tr>
      <th class="text-dark">Phone No</th>
      <td><label for="textfield7"></label>
      <input type="number" name="textfield7" id="textfield7" class="form-control" pattern="[0-9]{10}"/></td>
    </tr>
    <tr>
      <th class="text-dark">Gender</th>
      <th><label for="textfield8"></label>
        <p>
          <label>
            <input type="radio" name="RadioGroup1" value="Male" id="RadioGroup1_0" class="form-control" checked />
            Male</label>
          <br />
          <label>
            <input type="radio" name="RadioGroup1" value="Female" id="RadioGroup1_1" class="form-control"/>
            Female</label>
          <br />
          <label>
            <input type="radio" name="RadioGroup1" value="Other" id="RadioGroup1_2" class="form-control" />
            Other</label>
          <br />
        </p>
<label for="textfield8"></label></th>
    </tr>
    <tr>
      <th class="text-dark">Age</th>
      <td><label for="textfield9"></label>
      <input type="text" name="textfield9" id="textfield9" class="form-control" pattern="[0-9]{2}" maxlength="10" required/></td>
    </tr>
    <tr>
      <th class="text-dark">Photo</th>
      <td><label for="fileField"></label>
      <input type="file" name="fileField" id="fileField" class="form-control"required/></td>
    </tr>
    <tr>
      <th> </th>
      <th><input type="submit" name="button" id="button" value="Submit" class="form-control btn btn-info"/></th>
    </tr>
  </table>
</form>
</body>

<!-- <form>
  <div class="form-group">
    <label for="inputName">Name</label>
    <input type="text" class="form-control" id="inputName" placeholder="John ">
  </div>
  <div class="form-group">
    <label for="inputAddress">Place</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputPin">Email</label>
      <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Password</label>
      <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
    </div>
  </div>
  <div class="form-group">
    <label for="inputAddress">Address</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
  </div>
  <div class="form-group">
    <label for="inputAddress2">Address 2</label>
    <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">City</label>
      <input type="text" class="form-control" id="inputCity">
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">State</label>
      <select id="inputState" class="form-control">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
    <div class="form-group col-md-2">
      <label for="inputZip">Zip</label>
      <input type="text" class="form-control" id="inputZip">
    </div>
  </div>
  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck">
        Check me out
      </label>
    </div>
  </div>
  <button type="submit" class="btn btn-warning btn-lg btn-block fo">Sign in</button>
</form>

{% endblock %} -->