{% extends 'admin_home.html' %}
{% block body %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

<body>
  <div class="text-center pb-5"><h3 class="text-danger font-weight-bold"><span><i class="fa-solid fa-key fa-2xl"></i></span> Change password</h3></div>

<form id="form1" name="form1" method="post" action="/myapp/change_password_post/">
    {% csrf_token %}
  <table class="table table-bordered border">
    <tr>
      <th class="text-dark" width="124">Current Password</th>
      <td width="140"><label for="textfield"></label>
      <input type="text" name="textfield" id="textfield" class="form-control"/></td>
    </tr>
    <tr>
      <th class="text-dark">New Password</th>
      <td><label for="textfield2"></label>
      <input type="text" name="textfield2" id="textfield2" class="form-control"/></td>
    </tr>
    <tr>
      <th class="text-dark">Confirm Password</th>
      <td><label for="textfield3"></label>
      <input type="text" name="textfield3" id="textfield3" class="form-control" /></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><input type="submit" name="button" id="button" value="Submit" class="form-control btn btn-info"/></td>
    </tr>
  </table>
</form>
</body>
{% endblock %}
