<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="/myapp/edit_elderlyperson_post/" method="post" enctype="multipart/form-data" name="form1" id="form1">
    {% csrf_token %}
<input type="hidden" name="id" value="{{ data.id }}"/>
  <table width="200" border="1">
     <tr>
      <td>Name</td>
      <td><label for="textfield"></label>
      <input type="text" name="textfield" id="textfield" value="{{ data.name }}"/></td>
    </tr>
    <tr>
      <td>Place</td>
      <td><label for="textfield2"></label>
      <input type="text" name="textfield2" id="textfield2"  value="{{ data.place }}"  /></td>
    </tr>
    <tr>
      <td>Pin</td>
      <td><label for="textfield3"></label>
      <input type="text" name="textfield3" id="textfield3" value="{{ data.pin }}"/></td>
    </tr>
    <tr>
      <td>Post</td>
      <td><label for="textfield4"></label>
      <input type="text" name="textfield4" id="textfield4" value="{{ data.post }}"/></td>
    </tr>
    <tr>
      <td>HouseName</td>
      <td><label for="textfield5"></label>
      <input type="text" name="textfield5" id="textfield5" value="{{ data.Housename }}"/></td>
    </tr>
    <tr>
      <td>Gmail</td>
      <td><label for="textfield6"></label>
      <input type="text" name="textfield6" id="textfield6" value="{{ data.gmail }}"/></td>
    </tr>
    <tr>
      <td>Phone No</td>
      <td><label for="textfield7"></label>
      <input type="text" name="textfield7" id="textfield7" value="{{ data.phone_no }}"/></td>
    </tr>
    <tr>
      <td>Guardian</td>
      <td><label for="textfield8"></label>
      <input type="text" name="textfield8" id="textfield8" value="{{ data.guardian_details }}" /></td>
    </tr>
    <tr>
      <td>Gender</td>
      <td><p>
       <label>
            <input type="radio" name="RadioGroup1" value="Male" {% if data.Gender == "Male"  %} checked {% endif %} id="RadioGroup1_0"  />
            Male</label>
          <br />
          <label>
            <input type="radio" name="RadioGroup1" value="Female" {% if data.Gender == "Female"  %} checked {% endif %}id="RadioGroup1_1" />
            Female</label>
          <br />
          <label>
            <input type="radio" name="RadioGroup1" value="Others" {% if data.Gender == "Others"  %} checked {% endif %} id="RadioGroup1_2" />
            Other</label>
          <br />
      </p></td>
    </tr>
   <tr>
      <td>Age</td>
      <td><label for="textfield9"></label>
      <input type="text" name="textfield9" id="textfield9" value="{{ data.age}}" /></td>
    </tr>
    <tr>
      <td>Photo</td>
      <td><img src="{{ data.photo }}" alt="" width="100" height="100"/><label for="fileField"></label>
      <input type="file" name="fileField" id="fileField" /></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><input type="submit" name="button" id="button" value="Submit" /></td>
    </tr>
  </table>
</form>
</body>
</html>
