<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Admin Home</h1>
<a href="/myapp/add_caregiver/">Add Caregiver</a><br>
<a href="/myapp/view_caregiver/">View Caregiver</a><br>
<a href="/myapp/add_elderlyperson/">Add Elderly Person</a><br>
<a href="/myapp/view_elderlyperson/">View Elderly Person</a><br>
<a href="/myapp/view_allocated">View Allocations</a><br>
<a href="/myapp/change_password/">Change Password</a><br>





</body>
</html>