{% extends 'admin_home.html' %}
{% block body %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
<body>
  <div class="text-center pb-5"><h3 class="text-danger font-weight-bold"><span><i class="fa-solid fa-hospital-user fa-2xl"></i></span> Available Elderly Persons</h3></div>
<form id="form1" name="form1" method="post" action="/myapp/search_elderlyperson/">
  <table class="pull-left">
      {% csrf_token %}
    <tr>
      <td>
        <input type="text" name="textfield" id="textfield" class="form-control" /></td>
        <td><input type="submit" name="button" id="button" value="Search" class="btn btn-success" /></td>
    </tr></table>
<br><br>
        <table class="table table-bordered border">
          <tr>
            <th class="text-dark">S/no</th>
            <th class="text-dark">Name</th>
            <th class="text-dark">Address</th>
            <th class="text-dark">Gmail</th>
            <th class="text-dark">Phone No</th>
            <th class="text-dark">Guradian</th>
            <th class="text-dark">Gender</th>
            <th class="text-dark">Age</th>
            <th class="text-dark">photo</th>

          </tr>
          {% for i in data  %}
          <tr>
            <td class="text-dark">&nbsp;{{ forloop.counter}}</td>
            <td class="text-dark">{{ i.name }}</td>
              <td class="text-dark">{{ i.place }}<br>{{ i.pin }}<br>{{ i.post }}<br>{{ i.Housename }}<br></td>
            <td class="text-dark">{{ i.gmail }}</td>
            <td class="text-dark">{{ i.phone_no }}</td>
            <td class="text-dark">{{ i.guardian_details }}</td>
            <td class="text-dark">{{ i.Gender }}</td>
            <td class="text-dark">{{ i.age}}</td>
            <td class="text-dark"><img src="{{ i.photo }}" height="80px" width="80px"></td>
            <td class="text-dark"><a href="/myapp/edit_elderlyperson/{{ i.id }}" class="btn btn-success">Edit</a></td>
            <td class="text-dark"><a href="/myapp/delete_elderlyperson/{{ i.id }}"class="btn btn-danger">Delete</a></td>
            
            
          </tr>
            {% endfor %}
      </table>

</form>

</body>
{% endblock %}
