{% extends 'admin_home.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="">
  <table class="table table-bordered">
    <tr>
      <th class="text-dark">S/No</th>
      <th class="text-dark">Caregiver</th>
      <th class="text-dark">Allocated eldery person</th>
      <th class="text-dark">Start Date</th>
      <th class="text-dark">End Date</th>
    </tr>
      {% for i in data %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ i.CAREGIVER.name }}</td>
      <td>{{i.ELDERLY_PERSON.name}}</td>
      <td>{{ i.start_date }}</td>
      <td>{{ i.end_date}}</td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
{% endblock %}
